<div :class="getFieldClasses()">
    <slot name="ui-form-row-tools-left"></slot>
    <ui-form-control-label ref="controlLabel" v-bind:identifier="control.path" v-bind:control="control"></ui-form-control-label>
    <input class="ui-form-control-input" v-bind:disabled="control.disabled" v-bind:readonly="control.readonly" :id="control.path" type="date" v-model="control.value" @focus="inputFocus" @change="onChange" />
    <slot name="ui-form-row-tools-right"></slot>
    <slot name="ui-form-row-edit-control"></slot>
</div>