<span class="nwui-control-wrapper icon-link-confirm-wrapper">
    <template v-if="!confirmed">
        <a v-if="!text" href="#" :title="title" :class="getIconClasses()" @click.prevent="confirm"></a>
        <a v-else href="#" :title="title" @click.prevent="confirm">
            <span :class="getIconClasses()"></span>
            <span v-html="text"></span>
        </a>
    </template>
    <template v-else>
        <span :class="getCheckboxWrapperClasses()">
            <span :class="getCountdownClasses()" v-html="confirmTimeoutRemaining"></span>
            <a href="#" :title="getConfirmTitle()" :class="getConfirmClasses()" @click.prevent="confirm" @mouseover.capture="checkboxHover" @mouseout.capture="checkboxBlur">
                <span :class="getIconConfirmClasses()"></span>
                <span v-if="confirmText" v-html="confirmText"></span>
                <span v-else-if="text" v-html="text"></span>
                <span v-if="confirmTooltip" :class="['confirm-tooltip', 'confirm-tooltip-' + getConfirmTooltipPosition()]">
                    <span class="confirm-tooltip-text" v-html="confirmTooltip"></span>
                </span>
            </a>
        </span>
    </template>
</span>