<div :class="['file-manager', {'file-manager-busy': fm.fmBusy, 'file-manager-settings-open': fm.settingsOpen}]">
    <file-manager-top v-bind:instance-id="fm.instanceId" v-bind:toggle-search="toggleSearch" v-bind:perform-search="performSearch" v-bind:exit-search="exitSearch" v-bind:zoom-image="zoomImage" v-bind:deselect-all="deselectAll" v-bind:reload="reload" v-bind:create-dir="createDir" v-bind:exit-create-dir="exitCreateDir" v-bind:level-up="levelUp" v-bind:find-item="findItem" v-bind:paste-items="pasteItems" v-bind:clear-clipboard="clearClipboard" v-bind:get-clipboard-items="getClipboardItems" v-bind:remove-clipboard-item="removeClipboardItem" v-bind:toggle-select-mode="toggleSelectMode" v-bind:mass-item-operation="massItemOperation" v-bind:toggle-select-all="toggleSelectAll" v-bind:are-all-selected="areAllSelected" v-bind:mass-item-confirm="massItemConfirm" v-bind:mass-item-cancel="massItemCancel" v-bind:select-item="selectItem"></file-manager-top>
    <div class="file-manager-section file-manager-main">
        <input class="download-file-input" type="file" nwsaveas v-on:change="doDownloadFile" />
        <ul class="file-manager-tree">
            <file-manager-tree-item v-bind:instance-id="fm.instanceId" v-bind:item-click="itemClick" v-bind:item="fm.treeData" />
            <transition name="fade-fast">
                <svg-circular-progress v-if="fm.treeBusy" v-bind:circular-progress-data="fm.fmTreeProgress"></svg-circular-progress>
            </transition>
        </ul>
        <div :class="['file-manager-list', {'file-manager-thumbs': fm.settings.thumbnailView}]" v-bind:style="getThumbFontSize()">
            <component v-bind:is="getListComponent()" v-bind:instance-id="fm.instanceId" v-bind:get-thumb-width="getThumbWidth" v-bind:zoom-image="zoomImage" v-bind:get-item-icon-class="getItemIconClass" v-bind:open-file="openFile" v-bind:download-file="downloadFile" v-bind:list-item-reset="listItemReset" v-bind:item="getDirUpItem()" v-bind:item-click='itemClick' v-bind:item-operation="itemOperation" v-bind:item-confirm="itemConfirm" v-bind:item-cancel="itemCancel" v-bind:is-copied-item="isCopiedItem" v-bind:is-cut-item="isCutItem" v-bind:is-on-clipboard-item="isOnClipboardItem" v-bind:is-selected-item="isSelectedItem"></component>
            <template v-for="file in fm.currentFileList">
                <component v-if="isEligible(file)" v-bind:is="getListComponent()" v-bind:instance-id="fm.instanceId" v-bind:get-thumb-width="getThumbWidth" v-bind:zoom-image="zoomImage" v-bind:get-item-icon-class="getItemIconClass" v-bind:open-file="openFile" v-bind:download-file="downloadFile" v-bind:list-item-reset="listItemReset" v-bind:item="file" v-bind:item-click='itemClick' v-bind:item-operation="itemOperation" v-bind:item-confirm="itemConfirm" v-bind:item-cancel="itemCancel" v-bind:is-copied-item="isCopiedItem" v-bind:is-cut-item="isCutItem" v-bind:is-on-clipboard-item="isOnClipboardItem" v-bind:is-selected-item="isSelectedItem"></component>
            </template>
            <transition name="fade-fast">
                <svg-circular-progress v-if="fm.fileListBusy" v-bind:circular-progress-data="fm.fmListProgress"></svg-circular-progress>
            </transition>
        </div>
        <transition name="size-longest">
            <div class="file-manager-image-preview" v-if="fm.settings.thumbnailView && fm.imagePreview">
                <div class="file-manager-image-preview-wrapper">
                    <img :src="fm.imagePreviewSrc" alt="" />
                </div>
                <p class="file-manager-image-preview-caption" v-html="basename(fm.imagePreviewSrc)"></p>
                <a href="#" class="image-preview-close fa fa-times" @click.prevent="removeImagePreview" @keydown.prevent.stop.esc="removeImagePreview"></a>
            </div>
        </transition>
        <transition name="fade">
            <div class="file-manager-file-preview" v-if="fm.filePreview">
                <h2 v-html="translate('File preview')"></h2>
                <div class="file-manager-file-preview-top">
                    {{ fm.filePreviewPath }}
                    <a href="#" class="file-preview-close fa fa-times" @click.prevent="removeFilePreview" @keydown.prevent.stop.esc="removeFilePreview"></a>
                </div>
                <file-viewer v-bind:options="{file: fm.filePreviewPath, mode: fm.filePreviewMode, cmOptions: fm.filePreviewOptions}"></file-viewer>
            </div>
        </transition>
    </div>
    <div v-if="fm.allowUploads" :class="['file-manager-section file-manager-bottom', {'upload-in-progress': fm.uploading}]">
        <div class="upload-area drop-area">
            <input type="file" :multiple="fm.allowMultipleUploads" v-bind:accept="fm.uploadTypes" name="file-manager-upload" :disabled="fm.uploading" @change="filesChange" class="file-manager-uploader-input" />
            <div class="drop-area-text drop-area-text-center" v-if="!fm.uploading">
                <div class="drop-area-text-inner" v-html="translate('Drop file(s) or click here to upload')"></div>
            </div>
            <div class="drop-area-text drop-area-text-center" v-if="fm.uploading && !fm.uploadingPaused">
                <div class="drop-area-text-inner" v-html="translate('Uploaded {1} of {2} files', '', [fm.uploadedFiles.length, fm.uploadingFiles.length])"></div>
            </div>
            <div class="drop-area-text" v-if="fm.uploading && fm.uploadingPaused && fm.fileExists">
                <div class="drop-area-text-inner">
                    {{ translate('File "{1}"" already exists.', '', [fm.currentUploadName]) }}
                </div>
                <div class="drop-area-text-inner">
                    <a href="#" class="upload-action-link" @click.prevent="confirmSkip" v-html="translate('Skip')"></a>
                    <a href="#" class="upload-action-link" @click.prevent="confirmOverwrite" v-html="translate('Overwrite')"></a>
                    <a href="#" class="upload-action-link" @click.prevent="confirmRename" v-html="translate('Auto-rename new file')"></a>
                    <label>{{ translate('Apply to all') }}<input type="checkbox" v-model="fm.uploadConfirmAll" /></label>
                    <a href="#" class="upload-action-link" @click.prevent="cancelUpload" v-html="translate('Cancel')"></a>
                </div>
            </div>
        </div>
    </div>
</div>