<div class="nw-tabs">
    <div class="nw-tab-links">
        <a :class="['nw-tab-link', {'inactive-tab-link': !tab.active, 'active-tab-link': tab.active}]" href="#" v-for="(tab, index) in tabData.tabs" :key="'tab_' + index + '_link'" v-html="tab.title" @click.prevent="setTab" :data-index="index"></a>
    </div>
    <div class="nw-tab-wrappers">
        <div :class="['nw-tab', {'inactive-tab': !tab.active, 'active-tab': tab.active}]" v-for="(tab, index) in tabData.tabs" :key="'tab_' + index + '_contents'">
            <div class="nw-tab-contents-wrapper" v-bind:style="getTabStyles()">
                <template v-if="tab.bodyComponentName">
                    <component v-bind:is="tab.bodyComponentName" :ref="'tab_' + index + '_component'" v-bind:tab-data="tab"></component>
                </template>
                <template v-else>
                    <span v-html="tab.body"></span>
                </template>
            </div>
        </div>
    </div>
</div>